@import url("https://fonts.googleapis.com/css?family=Heebo:300,400,700,900|Roboto:300,400,500,700");
/*---------------------------------------------------- */
/*----------------------------------------------------*/

h1, h2, h3, h4, h5, h6 {
  font-family: "Heebo", sans-serif;
  font-weight: bold; }

@media (min-width: 1200px) {
  .container {
    max-width: 1000px; } 
}
.home_banner_area {
  position: relative; 
  z-index: 1;
  background-image: -webkit-linear-gradient(30deg,#4a69bd 0%, #766dff 100%);
  margin-bottom: 50px; 
}

.home_banner_area .row{
  align-items:center;
}

.home_banner_area .block {
	display: table; 
  flex-flow: right;
    min-height: 30px;
    border-radius: 12px;
    position: relative;
    bottom: -100px;
    background: #fff;
    padding: 30px;
    box-shadow: 0px 20px 80px 0px rgba(153, 153, 153, 0.3); 
}

.home_banner_area .photo {
    min-height: 30px;
    border-radius: 12px;
    position: relative;
    background: #fff;
    padding: 30px;
    margin:10px;
}

.home_banner_area .photo img{
    width: inherit;
}

.home_banner_area .banner_inner {
    position: relative;
    width: 100%;
    min-height: 400px;
    display: flex; 
}

.home_banner_area .banner_inner .banner_content {
      color: #222222;
      vertical-align: middle;
      align-self: center;
      text-align: left; 
}
      
.home_banner_area .banner_inner .banner_content .media{
	float: right;
	display: flex;
	justify-content: center;
	align-items: center;
	align-content:space-around;


}


.home_banner_area .banner_inner .banner_content .media .d-flex {
        padding-right: 100px;
        max-width: 500px; 
}
      
.home_banner_area .banner_inner .banner_content .media .media-body {
        vertical-align: middle;
        align-self: center; 
}

.home_banner_area .banner_inner .banner_content .return-button {
        position: relative;
        display:flex;
        margin-top: 50px;
}



@media (max-width: 767px) {
  .typo-sec {
    margin-bottom: 30px; } }
@media (max-width: 767px) {
  .element-wrap {
    margin-top: 30px; } }


h1 {
  font-size: 36px; }

h2 {
  font-size: 30px; }

h3 {
  font-size: 24px; }

h4 {
  font-size: 18px; 
  color: #eee;
}

h5 {
	margin-top:10px;
  font-size: 16px; 
	color: #777777;

}

h6 {
  font-size: 14px; 
}
